[submodule "nvidia-oot"]
	url = https://github.com/apl-ocean-engineering/nvidia-oot
	path = nvidia-oot
[submodule "nvidia-hwpm"]
	url = https://gitlab.com/nvidia/nv-tegra/linux-hwpm.git
	path = nvidia-hwpm
[submodule "nvidia-nvethernetrm"]
	url = https://gitlab.com/nvidia/nv-tegra/kernel/nvethernetrm.git
	path = nvidia-nvethernetrm
[submodule "nvidia-nvgpu"]
	url = https://gitlab.com/nvidia/nv-tegra/linux-nvgpu.git
	path = nvidia-nvgpu
