[submodule "nvidia-oot"]
	url = https://github.com/apl-ocean-engineering/nvidia-oot
	path = nvidia-oot
[submodule "nvidia-hwpm"]
	url = https://nv-tegra.nvidia.com/r/linux-hwpm.git
	path = nvidia-hwpm
[submodule "nvidia-nvethernetrm"]
	url = https://nv-tegra.nvidia.com/r/kernel/nvethernetrm.git
	path = nvidia-nvethernetrm
[submodule "nvidia-nvgpu"]
	url = https://nv-tegra.nvidia.com/r/linux-nvgpu.git
	path = nvidia-nvgpu
[submodule "imx296"]
	path = imx296
	url = git@github.com:clydemcqueen/imx296.git
